@import url("https://fonts.googleapis.com/css2?family=Sansita:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Fira Sans", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #231f42;
  width: 420px;
  height: 698px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding-top: 1.7rem;
}

h1 {
  font-size: 2rem;
  color: rgba(245, 107, 154, 1);
  font-family: "Sansita", sans-serif;
  margin-bottom: 7rem;
  font-style: italic;
}

h2 {
  cursor: pointer;
  color: #ffffff;
  font-family: "Sansita", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 0px #f56b9a;
}

h3 {
  color: #ffffff;
}
p {
  cursor: pointer;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  line-height: 0.875rem;
  font-size: 0.75rem;
}

span {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  margin-left: 1rem;
}

/* ------------------------------ Event.js CSS ------------------------------------------ */
.events {
  display: flex;
  height: 100px;
  min-width: 300px;
  justify-content: space-around;
}

.events-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  width: 66px;
  height: 66px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-weight: 600;
  font-style: normal;
  font-family: "Fira Sans", sans-serif;
}

.inside-date {
  width: 50%;
  text-align: center;
}

.events-all {
  width: 250px;
  height: 73px;
  margin-left: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.timecost {
  display: flex;
  justify-content: space-between;
}

.events-time {
  margin-top: 0.3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.06rem;
  color: #d0d0d0;
}

.events-movecost {
  display: flex;
  color: #37aeab;
  text-align: right;
  font-weight: bold;
  align-items: flex-end;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.event-line {
  left: 7.6875rem;
  top: 15.1875rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1rem;
}
/* ------------------------------------------Buy.js CSS ------------------------------------------- */

.buycontanier {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 3rem;
  flex-direction: column;
  height: 610px;
  width: 400px;
}

.buytext {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2.5rem;
  font-weight: 400;
  font-style: italic;
  font-size: 1.1875rem;
  color: rgba(255, 255, 255, 0.8);
}

.buywrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buyartist {
  margin-top: 2rem;
  font-size: 2rem;
  color: rgba(245, 107, 154, 1);
  margin-bottom: 0.5rem;
}

.buydate {
  color: rgba(55, 174, 171, 1);
  font-weight: bold;
  font-style: normal;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  margin-bottom: 0.5rem;
}

.buymiddleprize {
  margin-top: 3rem;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

.buybutton {
  margin-top: 14rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  background-color: rgba(55, 174, 171, 1);
  padding: 1.3rem 7.1rem;
  cursor: pointer;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  width: 90%;
  color: #ffffff;
}

button:hover {
  background-color: rgb(81, 160, 156);
  transition: 0.3s ease-in-out;
}

/* ------------------------------------------ tickets.js CSS ------------------------------------------ */

.tickets-title {
  cursor: pointer;
  color: #f56b9a;
  line-height: 2.5rem;
  font-family: "Sansita", sans-serif;
  margin-bottom: 3.6rem;
  font-style: normal;
  text-align: center;
  font-weight: bolder;
  width: 50%;
  font-size: 2.1rem;
}

.tickets-container {
  background-color: #ffffff;
  height: 270px;
  width: 330px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.first-container {
  margin-top: 1rem;
}

.tickets-artist {
  padding: 1rem;
  color: rgba(245, 107, 154, 1);
}

.middle-container {
  padding-top: 0.3rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.tickets-location {
  padding: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 1.4rem;
  font-size: 1.125rem;
}

.last-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.06);
}

.tickets-date {
  padding-top: 0.8rem;
  border-right: 1px dashed rgba(0, 0, 0, 0.4);
}

.tickets-text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.from-ticket-box {
  padding-top: 0.8rem;
  border-right: 1px dashed rgba(0, 0, 0, 0.4);
}

.to-ticket-box {
  padding-top: 0.8rem;
}

.dots {
  border: 1px dashed rgba(0, 0, 0, 0.4);
}
